body, p{
	padding: 0;
	margin: 0;
	position: relative;
}
.threePic2 .clearfix{
	clear: both;
}
.threePic2 *, .threePic2 *:before, .threePic2 *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.threePic2 .mg-leftright, .threePic2 .mg-leftanhright {
	padding: 0px;
}
.threePic2 .container-inner{
	/*width: 1530px;*/
	margin: 0 auto;
	text-align: justify;
}
.threePic2 .wrapper-contain{
	/*width: 80%;*/
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 10px;
}
.threePic2 .mg-text-center{
	text-align: center;
}
.threePic2 .wow{
	visibility: hidden;
}
.threePic2 .text-center{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
    line-height: 0;
}
.threePic2 .fullscreen{
	max-width: 100%;
	height: auto;
	width: auto;
}
.threePic2 .fullscreen1{
	max-width: 100%;
	height: auto;
	width: 100%;
}
.threePic2 .inner .fullscreen1{
	width: 293px;
	height: 300px;
}
.threePic2 .col_1_3{
	width: 293px;
	height: 300px;
	float: left;
	position: relative;
	margin-right: 10px;
}
.threePic2 .inner p:last-child .col_1_3{
	margin-right: 0;
}
.threePic2 .row_1_2 {
	float: left;
	width: 100%;
}
.threePic2 .twoImg{
	overflow: hidden;
	margin-bottom: 20px;
}
.threePic2 .text-center>p>img{
	margin-bottom: 10px;
}

@media (min-width: 800px){
	/*.threePic2 .container-inner {
		width: 750px;
		}*/
		.threePic2 .wrapper-contain{
			font-size: 22px;
		}
	}
/*@media (min-width: 992px){
	.threePic2 .container-inner {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.threePic2 .container-inner {
		width: 50%;
	}
	}*/
	/*end pc*/

	@media only screen and (max-width: 800px){
		.threePic2 .mg-leftright, .threePic2 .mg-leftanhright{
			padding: 0;
		}
		.threePic2 .container-inner{
			width: 100%;
		}
		.threePic2 .wrapper-contain{
			width: auto;
			margin: 0px 15px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.threePic2 .twoImg{
			margin-bottom: 2px;
		}
	}
	/*end tablet, mobile*/

	@media (max-width: 600px){
		.threePic2 .col_1_3 .row_1_2, .threePic2 .col_1_2 .row_1_2, .threePic2 .col_1_3, .threePic2 .col_1_2, .threePic2 .text-center{
			width: 100%;
		}
		.threePic2 .col_1_3:nth-child(2n+1){
			margin-right: 0;
		}
		.threePic2 .col_1_3, .threePic2 .inner .fullscreen1{
			width: 100%;
			height: auto;
			margin-bottom: 5px;
		}
	}
/*end mobile*/