.haiAnh .clearfix{
	clear: both;
}
.haiAnh *, .haiAnh *:before, .haiAnh *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.haiAnh .mg-leftright, .haiAnh .mg-leftanhright {
	padding: 0px;
}
.haiAnh .container-inner{
	width: 1530px;
	margin: 0 auto;
	text-align: justify;
}
.haiAnh .wrapper-contain{
	width: 80%;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 10px;
}
.haiAnh .mg-text-center{
	text-align: center;
}
.haiAnh .wow{
	visibility: hidden;
}
.haiAnh .fullscreen{
	max-width: 100%;
	height: auto;
	width: auto;
}
.haiAnh .fullscreen1{
	max-width: 100%;
	height: auto;
	width: 100%;
}
.haiAnh .col_1_3{
	width: 50%;
	float: left;
	position: relative;
}
.haiAnh .row_1_2 {
	float: left;
	width: 96%;
}
.haiAnh .twoImg{
	overflow: hidden;
	margin-bottom: 20px;
}

@media (min-width: 800px){
	.haiAnh .container-inner {
		width: 750px;
	}
	.haiAnh .wrapper-contain{
		font-size: 22px;
	}
}
@media (min-width: 992px){
	.haiAnh .container-inner {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.haiAnh .container-inner {
		width: 50%;
	}
}
/*end pc*/

@media only screen and (max-width: 800px){
	.haiAnh .mg-leftright, .haiAnh .mg-leftanhright{
		padding: 0;
	}
	.haiAnh .container-inner{
		width: 100%;
	}
	.haiAnh .wrapper-contain{
		width: auto;
		margin: 0px 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.haiAnh .twoImg{
		margin-bottom: 2px;
	}
}
/*end tablet, mobile*/

@media (max-width: 600px){
	.haiAnh .col_1_3 .row_1_2, .haiAnh .col_1_2 .row_1_2, .haiAnh .col_1_3, .haiAnh .col_1_2{
		width: 100%;
	}
}
/*end mobile*/